CMakeCache.txt
CMakeFiles/
cmake_install.cmake

pointclouds/Armadillo.ply
pointclouds/dragon_vrip_res2.ply
pointclouds/untracked/

output/

register_pointclouds

tests/algo/run_tests
tests/esf/test_esf
tests/test_frankwolfe
tests/qp/test_qp

tests/smalltests/

tests/maketests/matched_pointclouds/
tests/maketests/average_distances.txt
tests/maketests/cli_tools/
tests/maketests/transforms/
